<header class="masthead">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h3><i class="glyphicon glyphicon-cog"></i></h3></a>
                    <ul class="dropdown-menu">
                        <li style="width: 250px; padding-left: 20px; padding-right: 20px;">
                            <form class="navbar-form form" ng-submit="logIn()">
                                <div class="form-group">
                                    <input type="text" placeholder="username" ng-model="user.username" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="password" placeholder="password" ng-model="user.password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-block btn-primary"><i class="fa fa-sign-in" style="padding-right: 5px;" aria-hidden="true"></i>Login</button>
                                </div>
                            </form>
                            <form class="navbar-form form" style="margin-bottom: 0px;">
                                <div class="form-group">
                                    <button class="btn btn-block btn-success" ng-click="showRegistration()"><i class="fa fa-user-plus" style="padding-right: 5px;" aria-hidden="true"></i>Create an Account</button>
                                </div>
                                <div ng-show="error" class="alert alert-danger row">
                                    <span>{{ error.message }}</span>
                                </div>
                            </form>
                        </li>
                    </ul><!-- End dropdown-menu -->
                </div><!-- End pull-right -->
            </div><!-- End of col-sm-6 -->
        </div><!-- End of row -->
    </div><!-- End of container -->
</header><!-- End of header -->
<!----------------------------------------------------------------------------------------------------------------------------------------->
<!--Register Modal ------------------------------------------------------------------------------------------------------------------------>
<!----------------------------------------------------------------------------------------------------------------------------------------->
<script type="text/ng-template" id="register.html">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create an Account</h4>
                </div>
                <div class="modal-body">
                    <form ng-submit="registerClose()" style="margin-top: 30px;">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username" ng-model="user.username"></input>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" ng-model="user.password"></input>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                        <div ng-show="error" class="alert alert-danger row">
                            <span>{{ error.message }}</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</script>

<script src="/javascripts/navbar.js"></script><!-- Nav move and Scroll to Top -->
<div class="introBox-bg">
    <div class="container-fluid">
        <div class="row" style="min-height: 400px;">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <p style="font-family: 'Righteous', cursive; font-size: 40pt; text-align: center; padding-top: 30px;">
                    <strong>
                        <span style="color:#ff6050; font-size: 70pt;">Go</span> into all the world and <span style="color:#ff6050; font-size: 70pt;">preach </span>the gospel to all creation
                    </strong>
                </p>
            </div>
        </div>
    </div>
</div>
<div style="height: 15px;"></div>
<div class="container">
    <div class="row" style="min-height: 400px;">
        <div class="col-md-3 col-sm-6">
            <div class="serviceBox">
                <div class="service-icon">
                    <span class="glyphicon glyphicon-road" style="color: green;"></span>
                </div>
                <div class="service-content">
                    <h3 style="font-family: 'Viga', sans-serif;">
                        Go
                    </h3>
                    <p style="font-family:'Ubuntu', sans-serif; font-size: 14pt;">
                        We cannot truly spread the Gospel if we never leave the building.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="serviceBox">
                <div class="service-icon">
                    <span class="glyphicon glyphicon-globe" style="color: green;"></span>
                </div>
                <div class="service-content">
                    <h3 style="font-family: 'Viga', sans-serif;">
                        Reach
                    </h3>
                    <p style="font-family:'Ubuntu', sans-serif; font-size: 14pt;">
                        With love and kindness, find souls who need saving.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="serviceBox">
                <div class="service-icon">
                    <i class="fa fa-book" aria-hidden="true" style="color: green; font-size: 30px;"></i>
                </div>
                <div class="service-content">
                    <h3 style="font-family: 'Viga', sans-serif;">
                        Teach
                    </h3>
                    <p style="font-family:'Ubuntu', sans-serif; font-size: 14pt;">
                        God wants everyone in Heaven, but some have never heard the Gospel.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="serviceBox">
                <div class="service-icon">
                    <span class="glyphicon glyphicon-leaf" style="color: green;"></span>
                </div>
                <div class="service-content">
                    <h3 style="font-family: 'Viga', sans-serif;">
                        Grow
                    </h3>
                    <p style="font-family:'Ubuntu', sans-serif; font-size: 14pt;">
                        Take care of your members and guests and see numbers you never expected.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="detailBox-bg">
    <div class="container-fluid">
        <div class="row" style="min-height: 300px;">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <p style="font-family: 'Righteous', cursive; font-size: 55pt; text-align: center; padding-top: 100px; color: #383e40;">
                    <strong>
                        Evangelism<br /> in the 21st Century
                </p>
            </div>
        </div>
    </div>
</div>
<div class="footer" style="background-color: #2b3a42;">
    <div class="container">
        <div class="row" style="min-height: 300px;">
            <div class="col-xs-12 col-md-6 col-md-offset-1">
                <p style="padding-top: 60px; font-family:'Ubuntu', sans-serif; font-size: 18px; text-align: center; line-height: 1.6em; color: white; letter-spacing: .075em;">
                    God's message should never be changed, but that doesn't mean we shouldn't take advantage of the modern tools available today in order to spread God's
                    Kingdom. Plantr provides a modern approach for churches wishing to track mailer correspondence courses and contact information of visitors
                    that ensure your leaders can keep up with the rapid growth at your congregation.
                </p>
            </div>
            <div class="col-xs-12 col-md-4">
                <p style="padding-top: 100px; font-family: 'Ubuntu', sans-serif; font-size: 20px; text-align: center; line-height: 1.6em; color:white;">
                    Keep up with our latest news as well as updates from our home congregation<br><br><a href="facebook.com/augustaroadcoc"><i class="fa fa-facebook-official" style="color: white; padding-right: 10px;" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter-square" style="color: white; padding-left: 10px;" aria-hidden="true"></i></a>
                </p>
            </div>
        </div>
        <div class="row" style="height: 50px;">
            <p style="color: white; text-align: center;"><i class="fa fa-copyright" aria-hidden="true"></i> 2016 HIVEMIND SOFTWARE | ALL RIGHTS RESERVED.</p>
        </div>
    </div>
</div>
<ul class="nav pull-right scroll-top">
    <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
</ul>
<!-- Smooth Scroll for scroll to top -->
<script>
$('.scroll-top').click(function(){
  $('body,html').animate({scrollTop:0},1000);
  })
</script>