@model IEnumerable<Plantr_v2.Models.Soul>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" style="float: right;" onclick="location.href='@Url.Action("Create", "Soul")'">
    <i class="material-icons">add</i>
</button>

<ul class="contactListWrapper two-columns clearfix animated fadeIn">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("Details", "Soul", new { id = item.Id })">
            <li class="contactItem">
                @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)

            </li>
        </a>
    }
</ul>